Aim is to validate knn and lreg models. 

- split into train into train validate
- knn
    - standardize train
    - use standardizer on validate and train seperatly (this must be done first if knn imputation is going to be used)
    - impute train and validate seperatly
    - validate
    - recombine train and validate
    - scale and impute train
    - save scaler for test

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# preprocessing
from sklearn.pipeline import FeatureUnion
from sklearn.impute import KNNImputer
from sklearn.impute import MissingIndicator

from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [14]:
df_train = pd.read_csv('train_dummies.csv', index_col=0)

In [15]:
df_train.head()

,case_id,Available Extra Rooms in Hospital,Bed Grade,patientid,City_Code_Patient,Visitors with Patient,Admission_Deposit,Hospital_code_1,Hospital_code_10,Hospital_code_11,...,Stay_11-20,Stay_21-30,Stay_31-40,Stay_41-50,Stay_51-60,Stay_61-70,Stay_71-80,Stay_81-90,Stay_91-100,Stay_More than 100 Days
0,1,3,2.0,31397,7.0,2,4911.0,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2,2,2.0,31397,7.0,2,5954.0,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2,3,2,2.0,31397,7.0,2,4745.0,False,True,False,...,False,False,True,False,False,False,False,False,False,False
3,4,2,2.0,31397,7.0,2,7272.0,False,False,False,...,False,False,False,True,False,False,False,False,False,False
4,5,2,2.0,31397,7.0,2,5558.0,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [21]:
# split train into test validate

df_train.columns

Index(['case_id', 'Available Extra Rooms in Hospital', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Visitors with Patient',
       'Admission_Deposit', 'Hospital_code_1', 'Hospital_code_10',
       'Hospital_code_11',
       ...
       'Stay_11-20', 'Stay_21-30', 'Stay_31-40', 'Stay_41-50', 'Stay_51-60',
       'Stay_61-70', 'Stay_71-80', 'Stay_81-90', 'Stay_91-100',
       'Stay_More than 100 Days'],
      dtype='object', length=104)